
body{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(images/Portfolio.svg);
    background-size: 50%;
    background-repeat: initial;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(98, 96, 147, 0.748);
}
.logo{
    padding: 20rem 80rem
}
main{
    font-size: 20px;
}
nav{
    flex-basis: 100%;
    text-align: center;
    font-size: 30px;}
nav>a{
    text-decoration: none;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(91, 90, 135, 0.748);
}
nav>a:hover{
    background-color: rgb(189, 186, 238);
}
main{
    padding: 1rem;
    color: rgba(74, 72, 120, 0.748);

}
footer{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(101, 104, 188);
    text-align: center;
    justify-content: center;
}
main img{
    max-width: 30%;
    margin: .5rem 0;
}
.photography .digitalmedia .studio .branding h2{background-color: rgb(177, 137, 209);
    color: rgb(66, 38, 90);
    padding: 1rem 2rem}
@media (min-width:1100px){
    nav{flex-basis: unset;}
    header{flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 20px;}
    .aboutme{display:flex;
    }
    .aboutme h2{
        flex-basis: 30%;
        background-position: center;
    }
    .aboutme div{
        flex-basis: 50%;
        margin-left: 2rem;
    }
    h2{
        padding-left: 4rem;

    }
    .photography .digitalmedia .studio .branding{display: flex;
        flex-flow: column wrap;
        max-height: 78rem;}
    .photography .digitalmedia .studio .branding h2{margin: .5rem;}
    .photography .digitalmedia .studio .branding img{width: 32%;
        margin: .5rem;}
@media (min-width:1500px){
    .photography .digitalmedia .studio .branding{ max-height:120rem ;}
}
@media (min-width:2300px){ .digitalmedia .studio .branding .photography{max-height: 150rem;}} 
}
